use flake

HUGO_DART_SASS_VERSION=$(dart-sass --version)
HUGO_GO_VERSION=$(go version)
HUGO_HUGO_VERSION=$(hugo version)
HUGO_LATEST_GIT_DATE=$(git log -1 --date=iso-strict --pretty=format:"%cd")
HUGO_LATEST_GIT_HASH=$(git rev-parse origin/main)
HUGO_NODE_VERSION=$(node --version)

export HUGO_DART_SASS_VERSION
export HUGO_GO_VERSION
export HUGO_HUGO_VERSION
export HUGO_LATEST_GIT_DATE
export HUGO_LATEST_GIT_HASH
export HUGO_NODE_VERSION
