use flake

# Software versions
HUGO_DART_SASS_VERSION=$(dart-sass --version)
HUGO_DIRENV_VERSION=$(direnv version)
HUGO_GO_VERSION=$(go version)
HUGO_HUGO_VERSION=$(hugo version)
HUGO_NIX_VERSION=$(nix --version)
HUGO_NODE_VERSION=$(node --version)
HUGO_NPM_VERSION=$(npm --version)

# Git information
HUGO_GIT_BRANCH=$(git branch --show-current)
HUGO_GIT_DIRTY=$(git status --porcelain | wc -l)
HUGO_LATEST_GIT_DATE=$(git log -1 --date=iso-strict --pretty=format:"%cd" origin/main)
HUGO_LATEST_GIT_HASH=$(git log -1 --format="%H" origin/main)
HUGO_LATEST_GIT_SUBJECT=$(git log -1 --format="%s" origin/main)

# System information
HUGO_BUILD_TIMESTAMP=$(date --iso-8601=seconds)
HUGO_DISK_SPACE=$(df -h / | awk 'NR==2')
HUGO_LSCPU=$(lscpu)
HUGO_MEMORY=$(free -h | awk '/^Mem:/')
HUGO_UNAME=$(uname --kernel-name --kernel-release --machine --processor --hardware-platform --operating-system)

export HUGO_BUILD_TIMESTAMP
export HUGO_DART_SASS_VERSION
export HUGO_DIRENV_VERSION
export HUGO_DISK_SPACE
export HUGO_GIT_BRANCH
export HUGO_GIT_DIRTY
export HUGO_GO_VERSION
export HUGO_HUGO_VERSION
export HUGO_LATEST_GIT_DATE
export HUGO_LATEST_GIT_HASH
export HUGO_LATEST_GIT_SUBJECT
export HUGO_LSCPU
export HUGO_MEMORY
export HUGO_NIX_VERSION
export HUGO_NODE_VERSION
export HUGO_NPM_VERSION
export HUGO_UNAME
