use flake

HUGO_PARAMS_DART_SASS_VERSION=$(dart-sass --version)
HUGO_PARAMS_GO_VERSION=$(go version)
HUGO_PARAMS_HUGO_VERSION=$(hugo version)
HUGO_PARAMS_LATEST_GIT_DATE=$(git log -1 --date=iso-strict --pretty=format:"%cd" origin/main)
HUGO_PARAMS_LATEST_GIT_HASH=$(git log -1 --format="%H" origin/main)
HUGO_PARAMS_LATEST_GIT_SUBJECT=$(git log -1 --format="%s" origin/main)
HUGO_PARAMS_NODE_VERSION=$(node --version)
HUGO_PARAMS_NPM_VERSION=$(npm --version)
HUGO_PARAMS_UNAME=$(uname --kernel-name --nodename --kernel-release --machine --processor --hardware-platform --operating-system)

export HUGO_PARAMS_DART_SASS_VERSION
export HUGO_PARAMS_GO_VERSION
export HUGO_PARAMS_HUGO_VERSION
export HUGO_PARAMS_LATEST_GIT_DATE
export HUGO_PARAMS_LATEST_GIT_HASH
export HUGO_PARAMS_LATEST_GIT_SUBJECT
export HUGO_PARAMS_NODE_VERSION
export HUGO_PARAMS_NPM_VERSION
export HUGO_PARAMS_UNAME

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  HUGO_PARAMS_LSCPU=$(lscpu)
  export HUGO_PARAMS_LSCPU
fi
