<ol reversed class="postlist" style="--postlist-index: {{ (postslistCounter or (postslist | filterTemplates).length) }}">
{%- for post in postslist | filterTemplates | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		{%- if post.data.publishedDate %}
			<time class="postlist-date" datetime="{{ post.data.publishedDate | htmlDateString }}">
				{{post.data.publishedDate | readableDate("LLLL yyyy") }}
			</time>
		{%- else %}
			<time class="postlist-date">no date given</time>
		{%- endif %}
	</li>
{%- endfor %}
</ol>
