{{ define "main" }} {{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <small>
    <i>
      Published:
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    </i>
    |
    <i>
      Updated:
      <time datetime='{{ .Lastmod.Format "2006-01-02" }}'>
        {{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    </i>
    | {{ .WordCount }} words | {{ .ReadingTime }} minute read
  </small>
</p>
{{ end }} {{ end }}
<content> {{ .Content }} </content>

{{ if (.Param "enablePostNavigator") }} {{- partial "post_navigator.html" . -}}
{{ end }} {{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}

<!-- page edits with git revision  -->
{{- partial "page-edit.html" . -}}{{ end }} {{ end }}
