---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>
<h1>{{ title }}</h1>

<ul class="post-metadata">
  <!-- only add the published date if given -->
  {%- if draft %}
    <li><b style="background-color:yellow;">draft: </b></li>
  {%- endif %}
  {%- if publishedDate %}
    <li><time datetime="{{ publishedDate | htmlDateString }}">{{ publishedDate | readableDate }}</time></li>
  {%- else %}
    <li><em>No publish date specified...</em></li>
  {%- endif %}
  <!-- only add the "edited:" if dates are different -->
  {%- if publishedDate and publishedDate != page.date %}
    <li><time datetime="{{ page.date | htmlDateString }}">(Rev: {{ page.date | readableDate }})</time></li>
  {%- endif %}
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
  {%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  {%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
